{% load static %}

<div class="nav_menu_icon container">
        <div class="nav__top">
          <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'digital/image/logo/logo store 2.svg' %}" alt="">
          </a>
          <form action="" method="get" enctype="multipart/form-data">
            <label for="s" class="label_search">
              <input id="s" type="text" placeholder="Поиск по товарам" class="serch_in">
              <button type="submit"><img class="icon_serch" src="{% static 'digital/image/icons/Vector.svg' %}" alt=""></button>
            </label>
          </form>

          <div class="nav_icon">
            <ul class="icon">
              <li><a href="{% url 'my_favorite' %}" class="click_icon"><img src="{% static 'digital/image/icon_header/Group 524.svg' %}" alt=""></a></li>
              <li><a href="{% url 'my_cart' %}" class="click_icon"><img src="{% static 'digital/image/icon_header/bi_cart3 (1).svg' %}" alt=""></a></li>
              <li><a href="#" class="click_icon"><img src="{% static 'digital/image/icon_header/Group 522 (1).svg' %}" alt=""></a></li>

              {% include 'components_base/_burger_menu.html' %}


            </ul>
          </div>

        </div>


      </div>






